/* Add Tour */
.form-group {
  margin-bottom: 0px !important;
}
.col-form-label {
  padding-top: 6px !important;
}
.form-actions {
  text-align: center;
}
.navbar .navbar-brand-wrapper .navbar-brand img {
  width: calc(240px - 130px);
  max-width: 100%;
  height: 55px !important;
  margin: auto;
  vertical-align: middle;
}
.navbar .navbar-brand-wrapper{
  background: #164e8a !important;
}
.sidebar {
  background: #164e8a !important;
}
.sidebar .nav .nav-item:first-child .nav-link {
  border-top: 1px solid #164e8a;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
  border-top: 1px solid #164e8a;
}
